###############################################
###               v3.2                      ###
###############################################

Build_32:
  stage: build
  needs: ["Build_Base"]
  rules:
   - when: manual
  script:
    - docker pull $DOCKER_REGISTRY_IMAGE:3.2  || true
    - docker build 
        --cache-from $DOCKER_REGISTRY_IMAGE:3.2
        --tag $DOCKER_REGISTRY_IMAGE:3.2.$CI_PIPELINE_ID 
        ./src/3.2
    - docker push $DOCKER_REGISTRY_IMAGE:3.2.$CI_PIPELINE_ID
  tags:
    - shell-runner

Test_32:
  stage: test
  needs: ["Build_32"]
  rules:
   - when: manual
  script:
    - docker pull $DOCKER_REGISTRY_IMAGE:3.2.$CI_PIPELINE_ID
    - docker stop $(docker ps -q) 2>/dev/null || true
    - docker rm -f $(docker ps -aq) 2>/dev/null || true
    - docker ps
    - docker run -i -d --rm -e NEST_CONTAINER_MODE=nest-server -p 5000:5000  
        --name $CI_PIPELINE_ID $DOCKER_REGISTRY_IMAGE:3.2.$CI_PIPELINE_ID
    - docker ps
  tags:
    - shell-runner

Deploy_32:
  stage: deploy
  needs: ["Test_32"]
  rules:
   - when: manual
  script:
    - docker pull $DOCKER_REGISTRY_IMAGE:3.2.$CI_PIPELINE_ID
    - docker tag $DOCKER_REGISTRY_IMAGE:3.2.$CI_PIPELINE_ID $DOCKER_REGISTRY_IMAGE:3.2
    - docker push $DOCKER_REGISTRY_IMAGE:3.2
    - echo -n $DOCKERHUB_REGISTRY_TOKEN | docker login -u $DOCKERHUB_REGISTRY_USER --password-stdin
    - docker tag $DOCKER_REGISTRY_IMAGE:3.2 nest/nest-simulator:3.2
    - docker push nest/nest-simulator:3.2
    - docker logout $DOCKERHUB_REGISTRY
  tags:
    - shell-runner
