###############################################
###               v3.3                     ###
###############################################

Build_33:
  stage: build
  needs: ["Build_Base"]
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - when: on_success
  script:
    - docker pull $DOCKER_REGISTRY_IMAGE:3.3  || true
    - docker build 
        --cache-from $DOCKER_REGISTRY_IMAGE:3.3
        --tag $DOCKER_REGISTRY_IMAGE:3.3.$CI_PIPELINE_ID 
        ./src/3.3
    - docker push $DOCKER_REGISTRY_IMAGE:3.3.$CI_PIPELINE_ID
  tags:
    - shell-runner

Test_33:
  stage: test
  needs: ["Build_33"]
  script:
    - docker pull $DOCKER_REGISTRY_IMAGE:3.3.$CI_PIPELINE_ID
    - docker stop $(docker ps -q) 2>/dev/null || true
    - docker rm -f $(docker ps -aq) 2>/dev/null || true
    - docker ps
    - docker run -i -d --rm -e NEST_CONTAINER_MODE=nest-server -p 5000:5000
        --name $CI_PIPELINE_ID $DOCKER_REGISTRY_IMAGE:3.3.$CI_PIPELINE_ID
    - docker tag $DOCKER_REGISTRY_IMAGE:3.3.$CI_PIPELINE_ID $DOCKER_REGISTRY_IMAGE:3.3
  tags:
    - shell-runner

Deploy_33:
  stage: deploy
  needs: ["Test_33"]
  script:
    - docker pull $DOCKER_REGISTRY_IMAGE:3.3.$CI_PIPELINE_ID
    - docker tag $DOCKER_REGISTRY_IMAGE:3.3.$CI_PIPELINE_ID $DOCKER_REGISTRY_IMAGE:3.3
    - docker push $DOCKER_REGISTRY_IMAGE:3.3
    - echo -n $DOCKERHUB_REGISTRY_TOKEN | docker login -u $DOCKERHUB_REGISTRY_USER --password-stdin
    - docker tag $DOCKER_REGISTRY_IMAGE:3.3 nest/nest-simulator:3.3
    - docker push nest/nest-simulator:3.3
    - docker logout $DOCKERHUB_REGISTRY
  tags:
    - shell-runner
